extends ../base 

block contents 
    main
        if(errormessage)
            span=errormessage
        form(method="post")
            input(type="password" placeholder="currentPW" name="oldpw")
            input(type="password" placeholder="newPW" name="newpw")
            input(type="password" placeholder="newPW2" name="checknewpw")
            input(type="submit" value="change password!")